/* bodyのスタイル */
body {
  margin: 0px;
  font-family: sans-serif ;
}
/* 文字の色 */
.grey1{
  color: rgb(99, 98, 98);
}

.grey3{
  color: rgb(161, 160, 160);
}

.h1-1{
  font-size: 60px;
  border-bottom: 3px solid rgb(111, 194, 233);
}

.h1-2{
  font-size: 50px;
  border-bottom: 2px solid rgb(111, 194, 233);
}

.h1-3{
  font-size: 50px;
}

a {
  text-decoration:none; 
}

/* ナビバーのスタイル */
.logo{
  display: flex;
  align-items: center;
  width: 220px;
}
.nav-center{
  display: flex;
  justify-content:center;
}
.navbox{
  display: flex;
  width: 100vw;
  justify-content:center;
}
#nav {
  list-style: none;
  margin: 30px;
  display: flex;
  justify-content:center;
}
#nav li {
  width: 170px;
  padding-top: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  display: inline-block;
}
#nav li a {
  text-decoration: none;
  font-size: 28px;
  padding: 10px;
  border-bottom: 2px solid rgb(55, 92, 255);
  color: rgb(0, 0, 0);
}

/* スライドショー部分のスタイル */
.slidebox{
  position: relative;
}

.slide_img{
  width: 100%;
}

.slidemoji{
  position: absolute;
  text-align: center;
  width: 100vw;
  font-size: 70px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

/* メインのスタイル */
.main{
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content:center;
  padding-bottom: 70px;
  padding-top: 20px;
}

.main2{
  width: 92%;
  padding: 2%;
}

.box {
  /* width: 100%; */
  padding: 0.5em 2em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #eaf9fc;/*背景色*/
  display: flex;
  justify-content:space-between;
}

.manual-moji{
  font-size: 40px; 
  /* line-height: 40px; */
}

.keikoku{
  padding-top: 30px;
  padding-right: 20px;
  width: 80px;
  height: 80px;
}


/* 四段目のスタイル */
.box4{
  height: 500px;
  padding-top: 80px;
  background-color: rgb(243, 243, 243);
  text-align: center;
}
.box4-moji{
  font-size: 50px;
  padding: 10px;
}

.box4-moji2{
  font-size: 40px;
}

/* フッターのスタイル */
.footer{
  height: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content:center;
}

.footer-1{
  width: 30%;
  padding-top: 100px;
}

.footer-2{
  display: flex;
  justify-content:space-between; 
  width: 60%;
  padding-top: 100px;
}

.footer-2box{
  width: 33%;
}

.footer-2-moji{
  font-size: 30px;
  margin: 0;
  padding-bottom: 30px;
}

.sns{
  display: inline-block;
  padding-right: 20px;
}


@media screen and (min-width:1024px) {

  .h1-1{
    font-size: 25px;
    border-bottom: 3px solid rgb(111, 194, 233);
  }
  
  .h1-2{
    font-size: 20px;
    border-bottom: 2px solid rgb(111, 194, 233);
  }
  
  .h1-3{
    font-size: 20px;
  }
  /* ナビバーのスタイル */
  .logo{
    display: flex;
    align-items: center;
    width: 150px;
  }
  .nav-center{
    display: flex;
    justify-content:center;
  }
  .navbox{
    display: flex;
    width: 1100px;
    justify-content:space-between;
  }
  #nav {
    list-style: none;
    margin: 30px;
  }
  #nav li {
    width: 150px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: inline-block;
  }
  #nav li a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(255, 255, 255);
    position: relative;
    display: inline-block;
  }

  #nav li a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: rgb(8, 12, 252);
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  
  #nav li a:hover::after {
    transform: scale(1, 1);
  }

  .slide_img{
    width: 100vw;
    height: 600px;
  }

  .slidemoji{
    position: absolute;
    text-align: center;
    font-size: 50px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  }

  .main{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    padding-bottom: 70px;
    padding-top: 50px;
  }
  
  .main2{
    width: 1000px;
  }

  .box {
    padding: 0.5em 2em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #eaf9fc;/*背景色*/
    display: flex;
    justify-content:space-between;
  }

  .box4{
    height: 400px;
    padding-top: 80px;
    background-color: rgb(243, 243, 243);
    text-align: center;
  }

  .box4-moji{
    font-size: 25px;
    padding: 10px;
  }

  .box4-moji2{
    font-size: 20px;
  }

  .manual-moji{
    font-size: 15px; 
    line-height: 35px;
  }

  .footer{
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
  }
  
  .footer-1{
    width: 400px;
    padding-top: 100px;
  }
  .footer-2{
    display: flex;
    justify-content:space-between; 
    width: 600px;
    padding-top: 100px;
  }
  .footer-2-moji{
    margin: 0;
    padding-bottom: 30px;
  }
  
  .sns{
    display: inline-block;
    padding-right: 20px;
  }
}